
body {
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	
}



.reg-layout {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	border: 1px solid #d9d9d9;
	box-shadow: 6px 2px 14px 0px #d9d9d9;
	max-width: 400px;
	width: 400px;
	max-height: 600px;
	height: 600px;
	background :linear-gradient(slateblue,green);

}

.reg-layout {
	padding: 10px;
	margin: 10px;
	font-size: 25px;
	background-color:  #6a5acd;
	color: white;
	border: 5px solid black;
	border-radius: 30px;
}




#name, #phone,#addrs, #age {
	padding: 10px;
	margin: 10px;
	border-color: black;
}

#btn {
	padding: 7px;
	margin: 7px;
	font-size: 20px;
	color: white;
	background-color:#000080	;
}



.tab {
	border: 1px solid #d9d9d9;
border-collapse: collapse;
}


table>thead>tr>th {
padding: 12px;
text-align: left;
}
table>tbody>tr:hover {
background-color: #f0f0f0;
}
table>tbody>tr>td {
padding: 12px;
text-align: left;
}


th:first-child {background-color: white}
tr:nth-child(even) {background: powderblue}
tr:nth-child(odd) {background: slateblue}


thead{
	background-color: white;
}
